.gallery__btn {
  position: absolute;
  left: 33%;
  display: inline-block;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 2px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 10px;
  background-color: var(--background-color);
  color: var(--text-color-secondary);
  background-repeat: no-repeat;
}
.gallery__btn:hover {
  color: var(--text-color-accent);
  background-color: var(--background-color-hover);
}
.gallery__btn:active {
  color: var(--text-color-active);
  background-color: var(--background-color-active);
}
.gallery__btn.prev {
  position: absolute;
  left: 25%;
  background-image: url("../img/img__breeds/prev_default.svg");
  background-position: 30%;
  background-repeat: no-repeat;
  margin-right: 40px;
  padding: 12px 30px 12px 56px;
}
.gallery__btn.prev:hover {
  background-image: url("../img/img__breeds/prev_hover.svg");
}
.gallery__btn.prev:active {
  background-image: url("../img/img__breeds/prev_activ.svg");
}
.gallery__btn.next {
  position: absolute;
  left: 50%;
  background-image: url("../img/img__breeds/next_default.svg");
  background-position: 66%;
  background-repeat: no-repeat;
  padding: 12px 56px 12px 30px;
}
.gallery__btn.next:hover {
  background-image: url("../img/img__breeds/next_hover.svg");
}
.gallery__btn.next:active {
  background-image: url("../img/img__breeds/next_active.svg");
}

.gallery__list,
.gallery__list--reverse {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 140px);
  gap: 20px;
  grid-auto-flow: dense;
  list-style: none;
  margin-bottom: 20px;
  padding: 0;
}

figure {
  height: 100%;
  padding: 0;
  margin: 0;
}

figure > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  place-items: center;
  border-radius: 10px;
}

.gallery__list > li:first-child {
  grid-row: span 2;
}

.gallery__list > li:nth-child(4n) {
  grid-column: span 2;
  grid-row: span 2;
}

.gallery__list > li:nth-child(8n) {
  grid-row: span 2;
}

.gallery__list--reverse > li:nth-child(3n) {
  grid-row: span 2;
}

.gallery__list--reverse > li:nth-child(4n) {
  grid-column: span 2;
  grid-row: span 2;
}

select {
  all: unset;
}

.container-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  margin-bottom: 20px;
}

.action {
  margin: 30px 30px 18px 0px;
}
.action__box {
  width: 640px;
  background-color: var(--background-color-secondary);
  border-radius: 20px;
  padding: 20px;
  position: relative;
}
.action__btn {
  display: inline-block;
  width: 86px;
  height: 30px;
  background-color: var(--background-color-active);
  color: var(--text-color-active);
  text-transform: uppercase;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 2px;
  font-weight: 500;
  border-radius: 10px;
  border: none;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px 30px;
}
.action__btn-back {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: var(--background-color-hover);
  background-image: url(../img/img_voting/arrow_back.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  border: none;
}
.action__btn-back:hover {
  background-color: var(--background-color-active);
  background-image: url(../img/img_voting/arrow_back-hover.svg);
}
.action__box-img {
  position: relative;
}
.action__select {
  position: relative;
}
.action__select-breeds {
  width: 226px;
  height: 40px;
  background-color: var(--background-color);
  border: none;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-color-secondary);
  border-radius: 10px;
  align-items: center;
  padding-left: 10px;
  margin-right: 10px;
}
.action__select-breeds:hover {
  border: 2px solid #FBE0DC;
}
.action__select-limits {
  width: 91px;
  height: 40px;
  background-color: var(--background-color);
  border: none;
  border-radius: 10px;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-color-secondary);
  align-items: center;
  padding-left: 10px;
  margin-right: 10px;
}

.search {
  display: flex;
  margin-bottom: 10px;
}
.search__inner {
  display: flex;
  align-items: center;
  position: relative;
  flex: 1;
  width: 470px;
  height: 60px;
  border: none;
  background-color: var(--background-color-secondary);
  border-radius: 20px;
  margin-right: 10px;
}
.search__input {
  width: 430px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  border: none;
  background-color: var(--background-color-secondary);
  border-radius: 20px;
}
.search__input::placeholder {
  color: var(--text-color-secondary);
  font-size: 20px;
}
.search__icon {
  width: 40px;
  height: 40px;
  background-color: var(--background-color-hover);
  border-radius: 10px;
  background-image: url(../img/img_voting/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
}
.search__icon:hover {
  background-color: var(--background-color-active);
  background-image: url(../img/img_voting/search_white.svg);
}

.emoji-link {
  display: inline-block;
  background-color: var(--background-color-secondary);
  width: 60px;
  height: 60px;
  border-radius: 20px;
  text-align: center;
  align-items: center;
}
.emoji-link__icon-like {
  width: 30px;
  height: 30px;
  align-items: center;
  background-image: url(../img/img_voting/like.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin: 15px 15px;
}
.emoji-link__icon-favour {
  width: 30px;
  height: 30px;
  align-items: center;
  background-image: url(../img/img_voting/favourite.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin: 15px 15px;
}
.emoji-link__icon-dislike {
  width: 30px;
  height: 30px;
  align-items: center;
  background-image: url(../img/img_voting/dislike.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin: 15px 15px;
}

.emoji-link + .emoji-link {
  margin-left: 10px;
}

.emoji-link:hover {
  background-color: var(--background-color-hover);
}

.emoji-link:active {
  background-color: var(--background-color-active);
}

.emoji-link__icon-like:active {
  background-image: url(../img/img_voting/like_active.svg);
}
.emoji-link__icon-favour:active {
  background-image: url(../img/img_voting/favourite_active.svg);
}
.emoji-link__icon-dislike:active {
  background-image: url(../img/img_voting/dislike__active.svg);
}

.sort-ba {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: var(--background-color);
  background-image: url(../img/img__breeds/sort_ba.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
}

.sort-ba:hover {
  width: 36px;
  height: 36px;
  border: 2px solid #FBE0DC;
  background-image: url(../img/img__breeds/sort_ba_hover.svg);
}

.sort-ab {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: var(--background-color);
  background-image: url(../img/img__breeds/sort_ab.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.sort-ab:hover {
  width: 36px;
  height: 36px;
  border: 2px solid #FBE0DC;
  background-image: url(../img/img__breeds/sort_ab_hover.svg);
}

/*# sourceMappingURL=action-breeds.css.map */
