.action {
  margin: 30px 30px 18px 0px;
}
.action__box {
  width: 680px;
  background-color: var(--background-color-secondary);
  border-radius: 20px;
  padding: 20px;
  position: relative;
}
.action__btn {
  display: inline-block;
  width: 86px;
  height: 30px;
  background-color: var(--background-color-active);
  color: var(--text-color-active);
  text-transform: uppercase;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 2px;
  font-weight: 500;
  border-radius: 10px;
  border: none;
  margin-bottom: 20px;
  margin-left: 10px;
  padding: 5px 30px;
}
.action__btn-back {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: var(--background-color-hover);
  background-image: url(/img/img_voting/arrow_back.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  border: none;
}
.action__btn-back:hover {
  background-color: var(--background-color-active);
  background-image: url(/img/img_voting/arrow_back-hover.svg);
}
.action__box-img {
  position: relative;
}

.search {
  display: flex;
  margin-bottom: 10px;
}
.search__inner {
  display: flex;
  align-items: center;
  position: relative;
  flex: 1;
  width: 470px;
  height: 60px;
  border: none;
  background-color: var(--background-color-secondary);
  border-radius: 20px;
  margin-right: 10px;
}
.search__input {
  width: 430px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  border: none;
  background-color: var(--background-color-secondary);
  border-radius: 20px;
}
.search__input::placeholder {
  color: var(--text-color-secondary);
  font-size: 20px;
}
.search__icon {
  width: 40px;
  height: 40px;
  background-color: var(--background-color-hover);
  border-radius: 10px;
  background-image: url(/img/img_voting/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
}
.search__icon:hover {
  background-color: var(--background-color-active);
  background-image: url(/img/img_voting/search_white.svg);
}

.emoji-link {
  display: inline-block;
  background-color: var(--background-color-secondary);
  width: 60px;
  height: 60px;
  border-radius: 20px;
  text-align: center;
  align-items: center;
}
.emoji-link__icon-like {
  width: 30px;
  height: 30px;
  align-items: center;
  background-image: url(/img/img_voting/like.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin: 15px 15px;
}
.emoji-link__icon-favour {
  width: 30px;
  height: 30px;
  align-items: center;
  background-image: url(/img/img_voting/favourite.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin: 15px 15px;
}
.emoji-link__icon-dislike {
  width: 30px;
  height: 30px;
  align-items: center;
  background-image: url(/img/img_voting/dislike.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin: 15px 15px;
}

.emoji-link + .emoji-link {
  margin-left: 10px;
}

.emoji-link:hover {
  background-color: var(--background-color-hover);
}

.emoji-link:active {
  background-color: var(--background-color-active);
}

.emoji-link__icon-like:active {
  background-image: url(/img/img_voting/like_active.svg);
}
.emoji-link__icon-favour:active {
  background-image: url(/img/img_voting/favourite_active.svg);
}
.emoji-link__icon-dislike:active {
  background-image: url(/img/img_voting/dislike__active.svg);
}

.emoji-box {
  position: absolute;
  top: 412px;
  right: 34%;
  display: flex;
  justify-content: space-between;
  width: 248px;
  height: 80px;
  border-radius: 20px;
  border: 4px solid #FFFFFF;
  background-color: var(--background-color-secondary);
  margin-bottom: 14px;
}
.emoji-box__like {
  width: 80px;
  height: 80px;
  background-color: var(--background-color-emoji-like);
  background-image: url(/img/img_voting/like_active.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.emoji-box__like:hover {
  background-color: var(--background-color-emoji-like-light);
  background-image: url(/img/img_voting/like.svg);
}
.emoji-box__favourite {
  width: 80px;
  height: 80px;
  background-color: var(--background-color-emoji-favour);
  background-image: url(/img/img_voting/favourite_active.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}
.emoji-box__favourite:hover {
  background-color: var(--background-color-emoji-favour-light);
  background-image: url(/img/img_voting/favourite.svg);
}
.emoji-box__dislike {
  width: 80px;
  height: 80px;
  background-color: var(--background-color-emoji-dislike);
  background-image: url(/img/img_voting/dislike__active.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.emoji-box__dislike:hover {
  background-color: var(--background-color-emoji-dislike-light);
  background-image: url(/img/img_voting/dislike.svg);
}

.users-box {
  justify-content: space-between;
  width: 640px;
  margin-top: 52px;
}
.users-box__user {
  width: 640px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  background-color: var(--background-color);
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
}
.users-box__user-time {
  width: 61px;
  height: 24px;
  background-color: var(--background-color-secondary);
  border-radius: 5px;
  margin: 15px 15px;
  padding: 3px 10px;
  text-align: center;
  align-items: center;
}
.users-box__user-input {
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.users-box__user-reaction {
  margin-top: 20px;
  margin-right: 20px;
  align-items: center;
  width: 20px;
  height: 20px;
}

/*# sourceMappingURL=action-voting.css.map */
