.search {
    box-sizing: border-box;
    display: flex;
    margin-bottom: 10px;
&__inner{
    display: flex;
    align-items: center;
    position: relative;
    width: 460px;
    height: 60px;
    border: none;
    background-color: var(--background-color-secondary);
    border-radius:20px;
    
}
&__input {
    width: 430px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    border: none;
    background-color: var(--background-color-secondary);
    border-radius:20px;  
}
&__input::placeholder{
   color: var(--text-color-secondary);
   font-size: 20px; 
}
&__icon {
    width: 40px;
    height: 40px;
    background-color: var(--background-color-hover);
    border-radius: 10px;
    background-image: url(../../img/img__voting/search.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
}
&__icon:hover {
    background-color: var(--background-color-active);
    background-image: url(../../img/img__voting/search_white.svg);
}
}
.emoji-link { 
display:inline-block;
background-color: var(--background-color-secondary);
width: 30px;
height: 30px;
border-radius: 20px;
text-align: center;
align-items: center;
margin-left: 10px;
padding: 15px;

&__icon-like {
    display:inline-block;
    width: 30px;
    height: 30px;
    align-items: center;
    background-image: url(../../img/img__voting/like.svg);
    background-repeat: no-repeat;
    background-position: center;
   
}
&__icon-favour {
    display:inline-block;
    width: 30px;
    height: 30px;
    align-items: center;
    background-image: url(../../img/img__voting/favourite.svg);
    background-repeat: no-repeat;
    background-position: center;
    
}
&__icon-dislike {
    display:inline-block;
    width: 30px;
    height: 30px;
    align-items: center;
    background-image: url(../../img/img__voting/dislike.svg);
    background-repeat: no-repeat;
    background-position: center;
   
}

}
.emoji-link + .emoji-link {
margin-left: 10px;
}
.emoji-link:hover {
background-color: var(--background-color-hover);
}
.emoji-link:active {
background-color: var(--background-color-active);
}
.emoji-link {

&__icon-like:active {
    background-image: url(../../img/img__voting/like_active.svg);
}
&__icon-favour:active {
    background-image: url(../../img/img__voting/favourite_active.svg);
}
&__icon-dislike:active {
    background-image: url(../../img/img__voting/dislike__active.svg);
}
}