@use '../components/search-block.scss';
@use '../components/breeds__gallery.scss';
@use '../components/option-panel.scss';

.action {
    margin: 30px 30px 18px 0px;
    &__box {
        width: 640px;
        background-color: var(--background-color-secondary);
        border-radius: 20px;
        padding: 20px;
        position:relative;
    }
}


       
