.container-actions {
    display:flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    margin-bottom: 20px;
}

.action {
    margin: 30px 30px 18px 0px;
    &__box {
        width: 640px;
        background-color: var(--background-color-secondary);
        border-radius: 20px;
        padding: 20px;
        position: relative;
    }
    &__box-img {
        width: 640px;
        // max-height: 360px;
        // background-color: var(--background-color-secondary);
        border-radius: 20px;
        position:relative;
        margin-bottom: 52px;
    }
    &__btn {
        display:inline-block;
        width: 86px;
        height: 30px;
        background-color: var(--background-color-active);
        color: var(--text-color-active);
        text-transform: uppercase;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 2px;
        font-weight: 500;
        border-radius: 10px;
        border:none;
        margin-left: 10px;
        padding: 5px 30px;
    }
    &__btn-back{
        display:inline-block;
        width: 40px;
        height: 40px;
        background-color: var(--background-color-hover);
        background-image:url(../img/img_voting/arrow_back.svg);
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 10px;
        border: none;
    }
    &__btn-back:hover{
        background-color: var(--background-color-active);
        background-image:url(../img/img_voting/arrow_back-hover.svg);
    }
    
}
.img-random {
    position: relative;
    width: 640px;
    border-radius: 20px;
}

.search {
        display: flex;
        margin-bottom: 10px;
    &__inner{
        display: flex;
        align-items: center;
        position: relative;
        width: 470px;
        height: 60px;
        border: none;
        background-color: var(--background-color-secondary);
        border-radius:20px;
        margin-right: 10px;
    }
    &__input {
        width: 430px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 20px;
        border: none;
        background-color: var(--background-color-secondary);
        border-radius:20px;
        
    }
    &__input::placeholder{
       color: var(--text-color-secondary);
       font-size: 20px; 
    }
    &__icon {
        width: 40px;
        height: 40px;
        background-color: var(--background-color-hover);
        border-radius: 10px;
        background-image: url(../../img/img__voting/search.svg);
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 10px;
    }
    &__icon:hover {
        background-color: var(--background-color-active);
        background-image: url(../../img/img__voting/search_white.svg);
    }
}

.emoji-link {
    display:inline-block;
    background-color: var(--background-color-secondary);
    ;width: 60px;
    height: 60px;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    
    &__icon-like {
        width: 30px;
        height: 30px;
        align-items: center;
        background-image: url(../../img/img__voting/like.svg);
        background-repeat: no-repeat;
        background-position: center;
        margin: 15px 15px;
    }
    &__icon-favour {
        width: 30px;
        height: 30px;
        align-items: center;
        background-image: url(../img/img_voting/favourite.svg);
        background-repeat: no-repeat;
        background-position: center;
        margin: 15px 15px;
    }
    &__icon-dislike {
        width: 30px;
        height: 30px;
        align-items: center;
        background-image: url(../img/img_voting/dislike.svg);
        background-repeat: no-repeat;
        background-position: center;
        margin: 15px 15px;
    }

}
.emoji-link + .emoji-link {
    margin-left: 10px;
}
.emoji-link:hover {
    background-color: var(--background-color-hover);
}
.emoji-link:active {
    background-color: var(--background-color-active);
}
.emoji-link {
    &__icon-like:active {
        background-image: url(../img/img_voting/like_active.svg);
    }
    &__icon-favour:active {
        background-image: url(../img/img_voting/favourite_active.svg);
    }
    &__icon-dislike:active {
        background-image: url(../img/img_voting/dislike__active.svg);
    }
}
.emoji-box {
    position:relative;
    // top: 67%;
    // right: 34%;
    display:flex;
    justify-content: space-between;
    width: 248px;
    height: 80px;
    border-radius:20px;
    border: 4px solid #FFFFFF;
    background-color: var(--background-color-secondary);
    margin: 0 auto;
    margin-bottom: 14px;
    margin-top: -105px;
    z-index:10;
    // margin-left: auto;
    // margin-right: auto;

    &__like {
        width: 80px;
        height: 80px;
        background-color: var(--background-color-emoji-like);
        background-image: url(../../img/img__voting/like_active.svg);
        background-repeat: no-repeat;
        background-position: center;
        border:none;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    &__like:hover {
        background-color: var(--background-color-emoji-like-light);
        background-image: url(../../img/img__voting/like.svg);
    }
    &__favourite {
        width: 80px;
        height: 80px;
        background-color: var(--background-color-emoji-favour);
        background-image: url(../../img/img__voting/favourite_active.svg);
        background-repeat: no-repeat;
        background-position: center;
        border:none;
    }
    &__favourite:hover {
        background-color: var(--background-color-emoji-favour-light);
        background-image: url(../../img/img__voting/favourite.svg);
    }
    &__dislike {
        width: 80px;
        height: 80px;
        background-color: var(--background-color-emoji-dislike);
        background-image: url(../../img/img__voting/dislike__active.svg);
        background-repeat: no-repeat;
        background-position: center;
        border:none;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    &__dislike:hover {
        background-color: var(--background-color-emoji-dislike-light);
        background-image: url(../../img/img__voting/dislike.svg);
    }
}
.users-box {
    justify-content: space-between;
    width: 640px;
    &__user {
        width: 640px;
        height: 60px;
        display:flex;
        justify-content: space-between;
        background-color: var(--background-color);
        margin-bottom:10px;
        border:none;
        border-radius:10px;
        
    }
    &__user-time {
        width: 61px;
        height: 24px;
        background-color: var(--background-color-secondary);
        border-radius: 5px;
        margin: 15px 15px;
        padding: 3px 10px;
        text-align: center;
        align-items: center;
    }
    &__user-input {
        align-items: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
    &__user-reaction {
        margin-top: 20px;
        margin-right: 20px;
        align-items: center;
        width: 20px;
        height: 20px;
    }

}
