:root {
    --background-color:#F8F8F7;
    --background-color-secondary:#FFFFFF;
    --background-color-hover:#FBE0DC;
    --background-color-active:#FF868E;
    --text-color-main:#1D1D1D;
    --text-color-secondary:#8C8C8C;
    --text-color-accent:#FF868E;
    --text-color-active:#FFFFFF;
    --background-color-emoji-like:#97EAB9;
    --background-color-emoji-favour:#FF868E;
    --background-color-emoji-dislike:#FFD280;

}
