:root {
    --background-color:#ffff;
    --background-color-hover:#FBE0DC;
    --background-color-active:#FF868E;
    --text-color-main:#1D1D1D;
    --text-color-accent:#FF868E;
    --text-color-active:#FFFFFF;
}